@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&family=Inter:wght@300;400;500;600&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #f8fff8;
}

a {
  text-decoration: none;
  color: inherit;
}
