/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT */
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

/* COLORS */
:root {
  --primary: #1e40af;
  --gold: #fbbf24;
}

/* ANIMATION AOS CUSTOM */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
